# Автоматически определять текстовые файлы и нормализовать окончания строк
* text=auto

# Для конкретных файлов
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf

# Бинарные файлы
*.png binary
*.jpg binary
*.gif binary
*.ico binary